* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #000;
  color: white;
}

/* .navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  font-size: 2rem;
  color: gold;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar li {
  cursor: pointer;
  transition: 0.3s;
}

.navbar li:hover {
  color: gold;
}

.hero {
  height: 100vh;
  background: linear-gradient(
      rgba(0,0,0,.6),
      rgba(0,0,0,.7)
    ),
    url("https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?w=1500");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 5rem;
  max-width: 900px;
}

.hero p {
  margin-top: 20px;
  font-size: 2rem;
  color: gold;
}

.hero button {
  margin-top: 30px;
  padding: 15px 40px;
  border: none;
  background: #d40000;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.hero button:hover {
  background: #ff0000;
}

.about {
  padding: 100px 10%;
  text-align: center;
}

.about h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.about p {
  max-width: 800px;
  margin: auto;
  line-height: 1.8;
}

.players {
  padding: 80px 10%;
}

.players h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 3rem;
}

.player-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 30px;
}

.card {
  background: #111;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card h3 {
  padding: 15px;
}

.card p {
  padding: 0 15px 20px;
  color: gold;
}

.stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 80px 10%;
}

.stat-box {
  background: #111;
  padding: 40px;
  width: 250px;
  text-align: center;
  border-radius: 12px;
}

.stat-box h2 {
  color: gold;
  font-size: 3rem;
}

footer {
  text-align: center;
  padding: 40px;
  background: #111;
} */